<a href="https://colab.research.google.com/github/Rounak-Das-02/ML_Project/blob/master/prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Rounak-Das-02/ML_Project.git

Cloning into 'ML_Project'...
remote: Enumerating objects: 59, done.
remote: Counting objects: 100% (59/59), done.
remote: Compressing objects: 100% (54/54), done.
remote: Total 59 (delta 26), reused 17 (delta 4), pack-reused 0
Unpacking objects: 100% (59/59), done.

In [4]:
import joblib
import numpy as np
import pandas as pd
import xgboost as xgb

In [42]:
!unzip "/content/ML_Project/categorical_encoder.zip" -d "/content/ML_Project/"

Archive:  /content/ML_Project/categorical_encoder.zip
  inflating: /content/ML_Project/categorical_encoder.joblib

In [50]:
encoder = joblib.load("/content/ML_Project/categorical_encoder.joblib")
dic = joblib.load("/content/ML_Project/categorical_encoder_dict.joblib")

In [ ]:
df = pd.read_csv("/content/ML_Project/FinalVehiclesData.csv")
df=df.drop('id',axis=1)
# for i in df.columns:
#   print(i, "= ")

In [7]:
## Choose from these !

# region = 
# ['SF bay area' 'abilene' 'akron / canton' 'albany' 'albuquerque'
#  'altoona-johnstown' 'amarillo' 'ames' 'anchorage / mat-su' 'ann arbor'
#  'annapolis' 'appleton-oshkosh-FDL' 'asheville' 'ashtabula' 'athens'
#  'atlanta' 'auburn' 'augusta' 'austin' 'bakersfield' 'baltimore'
#  'baton rouge' 'battle creek' 'beaumont / port arthur' 'bellingham'
#  'bemidji' 'bend' 'billings' 'binghamton' 'birmingham' 'bismarck'
#  'bloomington' 'bloomington-normal' 'boise' 'boone' 'boston' 'boulder'
#  'bowling green' 'bozeman' 'brainerd' 'brownsville' 'brunswick' 'buffalo'
#  'butte' 'cape cod / islands' 'catskills' 'cedar rapids' 'central NJ'
#  'central louisiana' 'central michigan' 'champaign urbana' 'charleston'
#  'charlotte' 'charlottesville' 'chattanooga' 'chautauqua' 'chicago'
#  'chico' 'chillicothe' 'cincinnati' 'clarksville' 'cleveland'
#  'clovis / portales' 'college station' 'colorado springs' 'columbia'
#  'columbia / jeff city' 'columbus' 'cookeville' 'corpus christi'
#  'corvallis/albany' 'cumberland valley' 'dallas / fort worth' 'danville'
#  'dayton / springfield' 'daytona beach' 'decatur' 'deep east texas'
#  'del rio / eagle pass' 'delaware' 'denver' 'des moines' 'detroit metro'
#  'dothan' 'dubuque' 'duluth / superior' 'east idaho' 'east oregon'
#  'eastern CO' 'eastern CT' 'eastern NC' 'eastern kentucky'
#  'eastern montana' 'eastern panhandle' 'eastern shore' 'eau claire'
#  'el paso' 'elko' 'elmira-corning' 'erie' 'eugene' 'evansville'
#  'fairbanks' 'fargo / moorhead' 'farmington' 'fayetteville' 'finger lakes'
#  'flagstaff / sedona' 'flint' 'florence' 'florence / muscle shoals'
#  'florida keys' 'fort collins / north CO' 'fort dodge' 'fort smith'
#  'fort smith, AR' 'fort wayne' 'frederick' 'fredericksburg'
#  'fresno / madera' 'ft myers / SW florida' 'gadsden-anniston'
#  'gainesville' 'galveston' 'glens falls' 'gold country' 'grand forks'
#  'grand island' 'grand rapids' 'great falls' 'green bay' 'greensboro'
#  'greenville / upstate' 'gulfport / biloxi' 'hanford-corcoran'
#  'harrisburg' 'harrisonburg' 'hartford' 'hattiesburg' 'hawaii'
#  'heartland florida' 'helena' 'hickory / lenoir' 'high rockies'
#  'hilton head' 'holland' 'houma' 'houston' 'hudson valley'
#  'humboldt county' 'huntington-ashland' 'huntsville / decatur'
#  'imperial county' 'indianapolis' 'inland empire' 'iowa city' 'ithaca'
#  'jackson' 'jacksonville' 'janesville' 'jersey shore' 'jonesboro' 'joplin'
#  'kalamazoo' 'kalispell' 'kansas city' 'kansas city, MO' 'kenai peninsula'
#  'kennewick-pasco-richland' 'kenosha-racine' 'killeen / temple / ft hood'
#  'kirksville' 'klamath falls' 'knoxville' 'kokomo' 'la crosse'
#  'la salle co' 'lafayette' 'lafayette / west lafayette' 'lake charles'
#  'lake of the ozarks' 'lakeland' 'lancaster' 'lansing' 'laredo'
#  'las cruces' 'las vegas' 'lawrence' 'lawton' 'lehigh valley'
#  'lewiston / clarkston' 'lexington' 'lima / findlay' 'lincoln'
#  'little rock' 'logan' 'long island' 'los angeles' 'louisville' 'lubbock'
#  'lynchburg' 'macon / warner robins' 'madison' 'maine' 'manhattan'
#  'mankato' 'mansfield' 'mason city' 'mattoon-charleston'
#  'mcallen / edinburg' 'meadville' 'medford-ashland' 'memphis'
#  'mendocino county' 'merced' 'meridian' 'milwaukee'
#  'minneapolis / st paul' 'missoula' 'mobile' 'modesto' 'mohave county'
#  'monroe' 'monterey bay' 'montgomery' 'morgantown' 'moses lake'
#  'muncie / anderson' 'muskegon' 'myrtle beach' 'nashville' 'new hampshire'
#  'new haven' 'new orleans' 'new river valley' 'new york city'
#  'norfolk / hampton roads' 'north central FL' 'north dakota'
#  'north jersey' 'north mississippi' 'north platte' 'northeast SD'
#  'northern WI' 'northern michigan' 'northern panhandle' 'northwest CT'
#  'northwest GA' 'northwest KS' 'northwest OK' 'ocala' 'odessa / midland'
#  'ogden-clearfield' 'okaloosa / walton' 'oklahoma city'
#  'olympic peninsula' 'omaha / council bluffs' 'oneonta' 'orange county'
#  'oregon coast' 'orlando' 'outer banks' 'owensboro' 'palm springs'
#  'panama city' 'parkersburg-marietta' 'pensacola' 'peoria' 'philadelphia'
#  'phoenix' 'pierre / central SD' 'pittsburgh' 'plattsburgh-adirondacks'
#  'poconos' 'port huron' 'portland' 'potsdam-canton-massena' 'prescott'
#  'provo / orem' 'pueblo' 'pullman / moscow' 'quad cities, IA/IL'
#  'raleigh / durham / CH' 'rapid city / west SD' 'reading' 'redding'
#  'reno / tahoe' 'rhode island' 'richmond' 'roanoke' 'rochester' 'rockford'
#  'roseburg' 'roswell / carlsbad' 'sacramento' 'saginaw-midland-baycity'
#  'salem' 'salina' 'salt lake city' 'san angelo' 'san antonio' 'san diego'
#  'san luis obispo' 'san marcos' 'sandusky' 'santa barbara'
#  'santa fe / taos' 'santa maria' 'sarasota-bradenton'
#  'savannah / hinesville' 'scottsbluff / panhandle'
#  'scranton / wilkes-barre' 'seattle-tacoma' 'sheboygan' 'show low'
#  'shreveport' 'sierra vista' 'sioux city' 'sioux falls / SE SD'
#  'siskiyou county' 'skagit / island / SJI' 'south bend / michiana'
#  'south coast' 'south dakota' 'south florida' 'south jersey'
#  'southeast IA' 'southeast KS' 'southeast alaska' 'southeast missouri'
#  'southern WV' 'southern illinois' 'southern maryland' 'southwest KS'
#  'southwest MN' 'southwest MS' 'southwest TX' 'southwest VA'
#  'southwest michigan' 'space coast' "spokane / coeur d'alene"
#  'springfield' 'st augustine' 'st cloud' 'st george' 'st joseph'
#  'st louis' 'st louis, MO' 'state college' 'statesboro' 'stillwater'
#  'stockton' 'susanville' 'syracuse' 'tallahassee' 'tampa bay area'
#  'terre haute' 'texarkana' 'texoma' 'the thumb' 'toledo' 'topeka'
#  'treasure coast' 'tri-cities' 'tucson' 'tulsa' 'tuscaloosa'
#  'tuscarawas co' 'twin falls' 'twin tiers NY/PA' 'tyler / east TX'
#  'upper peninsula' 'utica-rome-oneida' 'valdosta' 'ventura county'
#  'vermont' 'victoria' 'visalia-tulare' 'waco' 'washington, DC'
#  'waterloo / cedar falls' 'watertown' 'wausau' 'wenatchee'
#  'west virginia (old)' 'western IL' 'western KY' 'western maryland'
#  'western massachusetts' 'western slope' 'wichita' 'wichita falls'
#  'williamsport' 'wilmington' 'winchester' 'winston-salem'
#  'worcester / central MA' 'wyoming' 'yakima' 'york' 'youngstown'
#  'yuba-sutter' 'yuma' 'zanesville / cambridge']

 
 

# manufacturer = 
# ['acura' 'alfa-romeo' 'aston-martin' 'audi' 'bmw' 'buick' 'cadillac'
#  'chevrolet' 'chrysler' 'datsun' 'dodge' 'ferrari' 'fiat' 'ford' 'gmc'
#  'harley-davidson' 'honda' 'hyundai' 'infiniti' 'jaguar' 'jeep' 'kia'
#  'land rover' 'lexus' 'lincoln' 'mazda' 'mercedes-benz' 'mercury' 'mini'
#  'mitsubishi' 'morgan' 'nissan' 'pontiac' 'porsche' 'ram' 'rover' 'saturn'
#  'subaru' 'tesla' 'toyota' 'volkswagen' 'volvo']

 
 

# model = 
# ['"t"'
#  '$362.47, $1000 down, oac, 2.9%apr $362.47,luxury low miles $1000 down, only 40k miles'
#  '%' ... '♿ vmi' '𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼 𝓫𝓮𝓷𝔃 𝓶𝓵 350' '🔥GMC Sierra 1500 SLE🔥 4X4 🔥']

 
 

# condition = 
# ['excellent' 'fair' 'good' 'like new' 'new' 'salvage']

 
 

# cylinders = 
# ['10 cylinders' '12 cylinders' '3 cylinders' '4 cylinders' '5 cylinders'
#  '6 cylinders' '8 cylinders' 'other']

 
 

# fuel = 
# ['diesel' 'electric' 'gas' 'hybrid' 'other']

 
 

# odometer = 
# [0.000000e+00 1.000000e+00 2.000000e+00 ... 9.876543e+06 9.999999e+06
#  1.000000e+07]

 
 

# title_status = 
# ['clean' 'lien' 'missing' 'parts only' 'rebuilt' 'salvage']

 
 

# transmission = 
# ['automatic' 'manual' 'other']

 
 

# drive = 
# ['4wd' 'fwd' 'rwd']

 
 

# size = 
# ['compact' 'full-size' 'mid-size' 'sub-compact']

 
 

# type = 
# ['SUV' 'bus' 'convertible' 'coupe' 'hatchback' 'mini-van' 'offroad'
#  'other' 'pickup' 'sedan' 'truck' 'van' 'wagon']

 
 

# paint_color = 
# ['black' 'blue' 'brown' 'custom' 'green' 'grey' 'orange' 'purple' 'red'
#  'silver' 'white' 'yellow']

In [61]:
## Fill these Up
region = "mohave county"
year = 2014.0
manufacturer = "gmc"
model = "sierra 1500 crew cab slt"
condition = "good"
cylinders = "8 cylinders"
fuel = "gas"
odometer = 57923.0
title_status = "clean"
transmission = "other"
drive = "4wd"
size = "full-size"
type = "pickup"
paint_color = "white"
lat = 32.59
long = -85.48

In [62]:
num_col=['year','odometer','long','lat']

cat_cols=['region','manufacturer','model','condition','cylinders','fuel',
          'title_status','transmission','drive','size','type','paint_color']

In [63]:
for i in df.columns:
  print("test['",i.strip(),"'] =", i )

test[' region '] = region
test[' year '] = year
test[' manufacturer '] = manufacturer
test[' model '] = model
test[' condition '] = condition
test[' cylinders '] = cylinders
test[' fuel '] = fuel
test[' odometer '] = odometer
test[' title_status '] = title_status
test[' transmission '] = transmission
test[' drive '] = drive
test[' size '] = size
test[' type '] = type
test[' paint_color '] = paint_color
test[' lat '] = lat
test[' long '] = long
test[' price '] = price

In [64]:
test = pd.DataFrame()
test['region'] = [region]
test['year'] = year
test['manufacturer'] = manufacturer
test['model'] = model
test['condition'] = condition
test['cylinders'] = cylinders
test['fuel'] = fuel
test['odometer'] = odometer
test['title_status'] = title_status
test['transmission'] = transmission
test['drive'] = drive
test['size'] = size
test['type'] = type
test['paint_color'] = paint_color
test['lat'] = lat
test['long'] = long

In [65]:
test

,region,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,lat,long
0,mohave county,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923.0,clean,other,4wd,full-size,pickup,white,32.59,-85.48

In [66]:
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict


test[cat_cols] = test[cat_cols].apply(lambda x : dic[x.name].transform(x))

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [67]:
test

,region,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,lat,long
0,220,2014.0,13,22683,2,6,2,57923.0,0,2,0,1,8,10,32.59,-85.48

In [69]:
norm = StandardScaler()
test['odometer'] = norm.fit_transform(np.array(test['odometer']).reshape(-1,1))
test['year'] = norm.fit_transform(np.array(test['year']).reshape(-1,1))
test['model'] = norm.fit_transform(np.array(test['model']).reshape(-1,1))


test['region'] = norm.fit_transform(np.array(test['region']).reshape(-1,1))
test['lat'] = norm.fit_transform(np.array(test['lat']).reshape(-1,1))
test['long'] = norm.fit_transform(np.array(test['long']).reshape(-1,1))
test

,region,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,lat,long
0,0.0,0.0,13,0.0,2,6,2,0.0,0,2,0,1,8,10,0.0,0.0